<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentManagerWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
    <description>验证码</description>
    <display-name>CpachaServlet</display-name>
    <servlet-name>CpachaServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.CpachaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CpachaServlet</servlet-name>
    <url-pattern>/CpachaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>登录验证</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>登录后的主页面</description>
    <display-name>SystemServlet</display-name>
    <servlet-name>SystemServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.SystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServlet</servlet-name>
    <url-pattern>/SystemServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <description>登录状态过滤</description>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.ischoolbar.programmer.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/SystemServlet</url-pattern>
    <url-pattern>/AdminServlet</url-pattern>
    <url-pattern>/StudentServlet</url-pattern>
    <url-pattern>/TeacherServlet</url-pattern>
    <url-pattern>/CourseServlet</url-pattern>
    <url-pattern>/SelectedCourseServlet</url-pattern>
    <url-pattern>/AttendanceServlet</url-pattern>
    <url-pattern>/LeaveServlet</url-pattern>
    <url-pattern>/ScoreServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description>学生信息管理</description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>教师信息管理</description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>班级管理</description>
    <display-name>ClazzServlet</display-name>
    <servlet-name>ClazzServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.ClazzServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClazzServlet</servlet-name>
    <url-pattern>/ClazzServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>图片管理</description>
    <display-name>PhotoServlet</display-name>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.PhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/PhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>课程信息管理</description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>学生选课</description>
    <display-name>SelectedCourseServlet</display-name>
    <servlet-name>SelectedCourseServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.SelectedCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedCourseServlet</servlet-name>
    <url-pattern>/SelectedCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>考勤信息管理</description>
    <display-name>AttendanceServlet</display-name>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/AttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>请假信息管理</description>
    <display-name>LeaveServlet</display-name>
    <servlet-name>LeaveServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.LeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveServlet</servlet-name>
    <url-pattern>/LeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>学生成绩管理</description>
    <display-name>ScoreServlet</display-name>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>com.ischoolbar.programmer.servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/ScoreServlet</url-pattern>
  </servlet-mapping>
</web-app>